{% extends 'admin_header.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <!-- <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Hi, welcome back!</h4>
                <span class="ml-1">Datatable</span>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
            </ol>
        </div>
    </div> -->
    <!-- row -->


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Product</h4> Datatable</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th>Product Image</th>
                                    <th>Buyer Name</th>
                                    <th>Product Name</th>
                                    <th>Supplier Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for all_prod in all_products %}
                                <tr>
                                  <td>
                                    <img
                                        style="border-radius: 5px;"
                                        src="/media/{{all_prod.product_id.image}}" 
                                        width="90px"
                                        alt=""
                                    />
                                  </td>
                                  <td>{{all_prod.user_id.us.name}}</td>
                                  <td>{{all_prod.product_id.name}}</td>
                                  <td>{{all_prod.product_id.login_id.far.name}}</td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}