{% extends 'public_header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Focus - Bootstrap Admin Dashboard</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'admin/theme/images/favicon.png' %}"
    />
    <!-- Datatable -->
    <link
      href="{% static 'admin/theme/vendor/datatables/css/jquery.dataTables.min.css' %}"
      rel="stylesheet"
    />
    <!-- Custom Stylesheet -->
    <!-- <link href="{% static 'admin/theme/css/style.css' %}" rel="stylesheet" /> -->
  </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    
    <div id="main-wrapper">
      <div class="content-body">
        <div class="container-fluid">
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li class="text-danger font-weight-bold">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <!-- row -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Cart</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      id="example"
                      class="display"
                      style="min-width: 845px"
                    >
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Category</th>
                          <th>Name</th>
                          <th>price</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
            
                        {% for cart_product in cart_products %}
                        <tr>
                          <td>
                            <img
                              src="/media/{{cart_product.product_id.image}}"
                              width="90px"
                              alt=""
                            />
                          </td>
                          <td>{{cart_product.product_id.category}}</td>
                          <td>{{cart_product.product_id.name}}</td>
                          <td>{{cart_product.product_id.price}}</td>
                          <td>
                            <a
                              class="btn btn-danger"
                              href="{% url 'cart_del' cart_product.id %}"
                              >Delete</a
                            >
                            <a
                              class="btn btn-success"
                              href="{% url 'add_address' cart_product.id %}"
                              >Buy</a
                            >
                          </td>
                        </tr>
                        {% endfor %}  
                      </tbody>
                    </table>
                    <a class="btn btn-primary m-3" href="{% url 'public_pro_view' %}">Add product</a>
                    <a class="btn btn-primary m-3" href="{% url 'public_order_view' %}">My Orders</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright © Designed &amp; Developed by
            <a href="#" target="_blank">Quixkit</a> 2019
          </p>
        </div>
      </div>
    </div>
    <!-- Required vendors -->
    <script src="{% static 'admin/theme/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'admin/theme/js/quixnav-init.js' %}"></script>
    <script src="{% static 'admin/theme/js/custom.min.js' %}"></script>

    <!-- Datatable -->
    <script src="{% static 'admin/theme/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/theme/js/plugins-init/datatables.init.js' %}"></script>
  </body>
</html>
{% endblock %}